GEMINI_API_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_POS_EMAIL=
VITE_SUPABASE_POS_PASSWORD=
VITE_SUPABASE_URL=